h1 {
    color: blueviolet;
    background-color: aqua;
    text-align: center;
}



.blog_images {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px; */
    /* padding: 1px; */
    background-color: palevioletred;
}

.blog_images img {
    width: calc(33.3%);
    object-fit: cover;
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
}

img:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    /* transform: translateY(-2.8rem); */
    transform: translate(2rem, -2.8rem);
}

@media (max-width: 600px) {
    .blog_images img {
        width: calc(100%);
    }
}